### Day 3

# Pandas At Work

<img src = "images/logo.jpg", width="100" align="left">

Ram Narasimhan

# <div class="alert alert-block alert-success"> Questions Based on Movies    </div>

### We have a dataset with over 50,000 movies.
# Solutions Below the Questions
Can we answer the following questions about the movies?

# Here are four questions based on Movies

# <div class="alert alert-block alert-warning"> 1. What is the *mean* and the *median* number of votes a movie gets? </div>

# <div class="alert alert-block alert-warning"> 2. How many *Comedies* were made in 2004? </div>

# <div class="alert alert-block alert-warning"> 3. What fraction of movies are rated over 9.0? </div>

# <div class="alert alert-block alert-warning"> 4. Which movie had the highest Budget *ever?* </div>

# From the `data` directory, read `movies.csv`

# <div class="alert alert-block alert-success"> Let's work out the answer to each one of these. <br><br> Pay Attention. We will go over them later again, slowly
</div>

<a id="section_ID"></a>
# Solutions

# <div class="alert alert-block alert-warning"> 0. Read the data into a `Pandas` dataframe</div>

In [1]:
import pandas as pd # load the Module called pandas, but call it pd

In [64]:
df = pd.read_csv("data/movies.csv") #the path is very important
#In this case, it is looking at a folder called data from where this Notebook was started...

In [65]:
df.head() # Head by default will print the first 5 rows

,title,year,length,budget,rating,votes,r1,r2,r3,r4,...,r9,r10,mpaa,Action,Animation,Comedy,Drama,Documentary,Romance,Short
0,$,1971,121,NaN,6.4,348,4.5,4.5,4.5,4.5,...,4.5,4.5,NaN,0,0,1,1,0,0,0
1,$1000 a Touchdown,1939,71,NaN,6.0,20,0.0,14.5,4.5,24.5,...,4.5,14.5,NaN,0,0,1,0,0,0,0
2,$21 a Day Once a Month,1941,7,NaN,8.2,5,0.0,0.0,0.0,0.0,...,24.5,24.5,NaN,0,1,0,0,0,0,1
3,"$40,000",1996,70,NaN,8.2,6,14.5,0.0,0.0,0.0,...,34.5,45.5,NaN,0,0,1,0,0,0,0
4,"$50,000 Climax Show, The",1975,71,NaN,3.4,17,24.5,4.5,0.0,14.5,...,0.0,24.5,NaN,0,0,0,0,0,0,0

In [7]:
df.shape

(58788, 24)

# <div class="alert alert-block alert-warning"> 1. What is the *mean* and the *median* number of votes a movie gets? </div>

In [14]:
df.votes.head(10)
print(df['votes'].mean())
print(df.votes.median())

632.1303837517861
30.0

# <div class="alert alert-block alert-warning"> 2. How many *Comedies* were made in 2004? </div>

In [23]:
condition = df['year'] == 2004
df[condition].Comedy.sum()
#df[df['year']==2004].Comedy.sum()
#type(condtion)

597

In [37]:
numerator = (df.rating > 9.0).sum()
denom = len(df)
frac = numerator/denom * 100

1.3740000000000001

# <div class="alert alert-block alert-warning"> 3. What fraction of movies are rated over 9.0? </div>

In [63]:
rating_condition = df['rating'] > 9.0
#rating_condition
#len(df[rating_condition])
#df[rating_condition].shape # explain 
len(df[rating_condition])/len(df)

0.013744301558141117

In [59]:
fraction = len(df[rating_condition])/len(df)
print("{0:f} %".format(fraction*100))

1.374430 %

# <div class="alert alert-block alert-warning"> 4. Which movie had the highest Budget *ever?* </div>

In [49]:
df.budget.max()
#max_budget = df.budget.max()
#
#useful_columns = ['title', 'year', 'budget']#
#
#df[(df.budget == max_budget)][useful_columns]

200000000.0

# We know the budget, but we don't know WHICH movie had this budget...

In [9]:
condition = df['budget'] == df.budget.max()

df[condition]

,title,year,length,budget,rating,votes,r1,r2,r3,r4,...,r9,r10,mpaa,Action,Animation,Comedy,Drama,Documentary,Romance,Short
48517,Spider-Man 2,2004,127,200000000.0,7.9,40256,4.5,4.5,4.5,4.5,...,24.5,24.5,PG-13,1,0,0,0,0,0,0
52347,Titanic,1997,194,200000000.0,6.9,90195,14.5,4.5,4.5,4.5,...,14.5,24.5,PG-13,0,0,0,1,0,1,0

![Questions](images/questions.png)