In [130]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
range = pd.date_range('2015-01-01', '2015-01-02', freq='15min')
df = pd.DataFrame(index = range)

# Average speed in miles per hour
df['speed'] = np.random.randint(low=0, high=60, size=len(df.index))
# Distance in miles (speed * 0.5 hours)
df['distance'] = df['speed'] * 0.25 
# Cumulative distance travelled
df['cumulative_distance'] = df.distance.cumsum()

In [4]:
df.head()

                     speed  distance  cumulative_distance
2015-01-01 00:00:00     18      4.50                 4.50
2015-01-01 00:15:00     18      4.50                 9.00
2015-01-01 00:30:00     49     12.25                21.25
2015-01-01 00:45:00     56     14.00                35.25
2015-01-01 01:00:00     39      9.75                45.00

In [7]:
df1 = df.resample("H").mean() #1 row per hour

In [48]:
df1.rolling(window=4, min_periods=4).cov().apply(lambda x: x)

<class 'pandas.core.panel.Panel'>
Dimensions: 25 (items) x 3 (major_axis) x 3 (minor_axis)
Items axis: 2015-01-01 00:00:00 to 2015-01-02 00:00:00
Major_axis axis: speed to cumulative_distance
Minor_axis axis: speed to cumulative_distance

### After taking the covariance at each time instant, the resulting structure is a `panel`

In [51]:
pnl = df1.rolling(window=4, min_periods=4).cov(pairwise=True)


<img src="https://raw.githubusercontent.com/mbonvini/EnergyAnalysisWithPandas/master/imgs/panel.png",width=300>

## Understanding how the panel works and how to iterate over it

In [70]:
print pnl.shape

(25, 3, 3)

In [76]:
print(pnl.items, pnl.major_axis, pnl.minor_axis)

(DatetimeIndex(['2015-01-01 00:00:00', '2015-01-01 01:00:00',
               '2015-01-01 02:00:00', '2015-01-01 03:00:00',
               '2015-01-01 04:00:00', '2015-01-01 05:00:00',
               '2015-01-01 06:00:00', '2015-01-01 07:00:00',
               '2015-01-01 08:00:00', '2015-01-01 09:00:00',
               '2015-01-01 10:00:00', '2015-01-01 11:00:00',
               '2015-01-01 12:00:00', '2015-01-01 13:00:00',
               '2015-01-01 14:00:00', '2015-01-01 15:00:00',
               '2015-01-01 16:00:00', '2015-01-01 17:00:00',
               '2015-01-01 18:00:00', '2015-01-01 19:00:00',
               '2015-01-01 20:00:00', '2015-01-01 21:00:00',
               '2015-01-01 22:00:00', '2015-01-01 23:00:00',
               '2015-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='H'), Index([u'speed', u'distance', u'cumulative_distance'], dtype='object'), Index([u'speed', u'distance', u'cumulative_distance'], dtype='object'))

In [89]:
pnl.mean()
pnl.max()

,2015-01-01 00:00:00,2015-01-01 01:00:00,2015-01-01 02:00:00,2015-01-01 03:00:00,2015-01-01 04:00:00,2015-01-01 05:00:00,2015-01-01 06:00:00,2015-01-01 07:00:00,2015-01-01 08:00:00,2015-01-01 09:00:00,...,2015-01-01 15:00:00,2015-01-01 16:00:00,2015-01-01 17:00:00,2015-01-01 18:00:00,2015-01-01 19:00:00,2015-01-01 20:00:00,2015-01-01 21:00:00,2015-01-01 22:00:00,2015-01-01 23:00:00,2015-01-02 00:00:00
speed,NaN,NaN,NaN,52.682292,73.098958,6.562500,49.746094,60.755208,240.463542,345.502604,...,139.473958,118.562500,124.611979,88.307292,115.854167,182.218750,114.265625,75.125000,47.557292,100.057292
distance,NaN,NaN,NaN,13.170573,18.274740,1.640625,12.436523,15.188802,60.115885,86.375651,...,34.868490,29.640625,31.152995,22.076823,28.963542,45.554688,28.566406,18.781250,11.889323,25.014323
cumulative_distance,NaN,NaN,NaN,1903.385417,1216.745768,986.980143,944.089518,1135.549479,1436.174479,2199.378581,...,1769.105143,1663.912435,1957.839844,1702.768229,1363.271810,1497.746094,1586.821289,1353.282552,1094.407552,786.782552

In [96]:
pnl["2015-01-01 07:00:00",:,['distance','speed']]

                      distance      speed
speed                 3.651042  14.604167
distance              0.912760   3.651042
cumulative_distance  15.188802  60.755208

In [97]:
pnl.ix["2015-01-01 07:00:00",:,['distance','speed']]

                      distance      speed
speed                 3.651042  14.604167
distance              0.912760   3.651042
cumulative_distance  15.188802  60.755208

In [86]:
pnl.major_xs

<bound method Panel.major_xs of <class 'pandas.core.panel.Panel'>
Dimensions: 25 (items) x 3 (major_axis) x 3 (minor_axis)
Items axis: 2015-01-01 00:00:00 to 2015-01-02 00:00:00
Major_axis axis: speed to cumulative_distance
Minor_axis axis: speed to cumulative_distance>

In [87]:
#a panel's major slices, will be a dataframe.
#It's index will be the minor-axis, and the columns are the items
pnl.major_xs(key="cumulative_distance")

,2015-01-01 00:00:00,2015-01-01 01:00:00,2015-01-01 02:00:00,2015-01-01 03:00:00,2015-01-01 04:00:00,2015-01-01 05:00:00,2015-01-01 06:00:00,2015-01-01 07:00:00,2015-01-01 08:00:00,2015-01-01 09:00:00,...,2015-01-01 15:00:00,2015-01-01 16:00:00,2015-01-01 17:00:00,2015-01-01 18:00:00,2015-01-01 19:00:00,2015-01-01 20:00:00,2015-01-01 21:00:00,2015-01-01 22:00:00,2015-01-01 23:00:00,2015-01-02 00:00:00
speed,NaN,NaN,NaN,-230.072917,-283.220052,-66.726562,49.746094,60.755208,240.463542,345.502604,...,-4.787760,-88.138021,124.611979,-225.364583,-73.226562,182.218750,6.753906,-211.192708,-109.205729,-130.773438
distance,NaN,NaN,NaN,-57.518229,-70.805013,-16.681641,12.436523,15.188802,60.115885,86.375651,...,-1.196940,-22.034505,31.152995,-56.341146,-18.306641,45.554688,1.688477,-52.798177,-27.301432,-32.693359
cumulative_distance,NaN,NaN,NaN,1903.385417,1216.745768,986.980143,944.089518,1135.549479,1436.174479,2199.378581,...,1769.105143,1663.912435,1957.839844,1702.768229,1363.271810,1497.746094,1586.821289,1353.282552,1094.407552,786.782552

In [83]:
pnl.minor_xs

<bound method Panel.minor_xs of <class 'pandas.core.panel.Panel'>
Dimensions: 25 (items) x 3 (major_axis) x 3 (minor_axis)
Items axis: 2015-01-01 00:00:00 to 2015-01-02 00:00:00
Major_axis axis: speed to cumulative_distance
Minor_axis axis: speed to cumulative_distance>

In [84]:
#minor_xs is useful for getting a "Slice" of the Panel, which is a dataframe with the other two axes - 
# Index as Major Axis of Panel, and columns are the items
pnl.minor_xs(key='speed')

,2015-01-01 00:00:00,2015-01-01 01:00:00,2015-01-01 02:00:00,2015-01-01 03:00:00,2015-01-01 04:00:00,2015-01-01 05:00:00,2015-01-01 06:00:00,2015-01-01 07:00:00,2015-01-01 08:00:00,2015-01-01 09:00:00,...,2015-01-01 15:00:00,2015-01-01 16:00:00,2015-01-01 17:00:00,2015-01-01 18:00:00,2015-01-01 19:00:00,2015-01-01 20:00:00,2015-01-01 21:00:00,2015-01-01 22:00:00,2015-01-01 23:00:00,2015-01-02 00:00:00
speed,NaN,NaN,NaN,52.682292,73.098958,6.562500,14.890625,14.604167,69.604167,83.604167,...,139.473958,118.562500,49.848958,88.307292,115.854167,83.187500,114.265625,75.125000,47.557292,100.057292
distance,NaN,NaN,NaN,13.170573,18.274740,1.640625,3.722656,3.651042,17.401042,20.901042,...,34.868490,29.640625,12.462240,22.076823,28.963542,20.796875,28.566406,18.781250,11.889323,25.014323
cumulative_distance,NaN,NaN,NaN,-230.072917,-283.220052,-66.726562,49.746094,60.755208,240.463542,345.502604,...,-4.787760,-88.138021,124.611979,-225.364583,-73.226562,182.218750,6.753906,-211.192708,-109.205729,-130.773438

### Iterating along the "Items" axis

In [118]:
# We can iterate over the ITEMS axis, using iteritems()
for key, dframe in pnl.iteritems():
    print key, dframe

2015-01-01 00:00:00                      speed  distance  cumulative_distance
speed                  NaN       NaN                  NaN
distance               NaN       NaN                  NaN
cumulative_distance    NaN       NaN                  NaN
2015-01-01 01:00:00                      speed  distance  cumulative_distance
speed                  NaN       NaN                  NaN
distance               NaN       NaN                  NaN
cumulative_distance    NaN       NaN                  NaN
2015-01-01 02:00:00                      speed  distance  cumulative_distance
speed                  NaN       NaN                  NaN
distance               NaN       NaN                  NaN
cumulative_distance    NaN       NaN                  NaN
2015-01-01 03:00:00                           speed   distance  cumulative_distance
speed                 52.682292  13.170573          -230.072917
distance              13.170573   3.292643           -57.518229
cumulative_distance -230.072917 -57.518229          1903.385417
2015-01-01 04:00:00                           speed   distance  cumulative_distance
speed                 73.098958  18.274740          -283.220052
distance              18.274740   4.568685           -70.805013
cumulative_distance -283.220052 -70.805013          1216.745768
2015-01-01 05:00:00                          speed   distance  cumulative_distance
speed                 6.562500   1.640625           -66.726562
distance              1.640625   0.410156           -16.681641
cumulative_distance -66.726562 -16.681641           986.980143
2015-01-01 06:00:00                          speed   distance  cumulative_distance
speed                14.890625   3.722656            49.746094
distance              3.722656   0.930664            12.436523
cumulative_distance  49.746094  12.436523           944.089518
2015-01-01 07:00:00                          speed   distance  cumulative_distance
speed                14.604167   3.651042            60.755208
distance              3.651042   0.912760            15.188802
cumulative_distance  60.755208  15.188802          1135.549479
2015-01-01 08:00:00                           speed   distance  cumulative_distance
speed                 69.604167  17.401042           240.463542
distance              17.401042   4.350260            60.115885
cumulative_distance  240.463542  60.115885          1436.174479
2015-01-01 09:00:00                           speed   distance  cumulative_distance
speed                 83.604167  20.901042           345.502604
distance              20.901042   5.225260            86.375651
cumulative_distance  345.502604  86.375651          2199.378581
2015-01-01 10:00:00                           speed   distance  cumulative_distance
speed                 82.041667  20.510417           126.385417
distance              20.510417   5.127604            31.596354
cumulative_distance  126.385417  31.596354          2157.760417
2015-01-01 11:00:00                          speed   distance  cumulative_distance
speed                34.041667   8.510417           -81.197917
distance              8.510417   2.127604           -20.299479
cumulative_distance -81.197917 -20.299479          2409.739583
2015-01-01 12:00:00                           speed   distance  cumulative_distance
speed                 91.854167  22.963542          -278.645833
distance              22.963542   5.740885           -69.661458
cumulative_distance -278.645833 -69.661458          1973.984375
2015-01-01 13:00:00                           speed   distance  cumulative_distance
speed                127.182292  31.795573           232.648438
distance              31.795573   7.948893            58.162109
cumulative_distance  232.648438  58.162109          2052.545573
2015-01-01 14:00:00                           speed   distance  cumulative_distance
speed                156.432292  39.108073          -103.015625
distance              39.108073   9.777018           -25.753906
cumulative_distance -103.015625 -25.753906          1806.307292
2015-01-01 15:00:00                           speed   distance  cumulative_distance
speed                139.473958  34.868490            -4.787760
distance              34.868490   8.717122            -1.196940
cumulative_distance   -4.787760  -1.196940          1769.105143
2015-01-01 16:00:00                           speed   distance  cumulative_distance
speed                118.562500  29.640625           -88.138021
distance              29.640625   7.410156           -22.034505
cumulative_distance  -88.138021 -22.034505          1663.912435
2015-01-01 17:00:00                           speed   distance  cumulative_distance
speed                 49.848958  12.462240           124.611979
distance              12.462240   3.115560            31.152995
cumulative_distance  124.611979  31.152995          1957.839844
2015-01-01 18:00:00                           speed   distance  cumulative_distance
speed                 88.307292  22.076823          -225.364583
distance              22.076823   5.519206           -56.341146
cumulative_distance -225.364583 -56.341146          1702.768229
2015-01-01 19:00:00                           speed   distance  cumulative_distance
speed                115.854167  28.963542           -73.226562
distance              28.963542   7.240885           -18.306641
cumulative_distance  -73.226562 -18.306641          1363.271810
2015-01-01 20:00:00                           speed   distance  cumulative_distance
speed                 83.187500  20.796875           182.218750
distance              20.796875   5.199219            45.554688
cumulative_distance  182.218750  45.554688          1497.746094
2015-01-01 21:00:00                           speed   distance  cumulative_distance
speed                114.265625  28.566406             6.753906
distance              28.566406   7.141602             1.688477
cumulative_distance    6.753906   1.688477          1586.821289
2015-01-01 22:00:00                           speed   distance  cumulative_distance
speed                 75.125000  18.781250          -211.192708
distance              18.781250   4.695312           -52.798177
cumulative_distance -211.192708 -52.798177          1353.282552
2015-01-01 23:00:00                           speed   distance  cumulative_distance
speed                 47.557292  11.889323          -109.205729
distance              11.889323   2.972331           -27.301432
cumulative_distance -109.205729 -27.301432          1094.407552
2015-01-02 00:00:00                           speed   distance  cumulative_distance
speed                100.057292  25.014323          -130.773438
distance              25.014323   6.253581           -32.693359
cumulative_distance -130.773438 -32.693359           786.782552

# Iterating along the Major Axis of a Panel

In [67]:
for key in pnl.major_axis:
    print key

speed
distance
cumulative_distance

## Iterating along the Minor Axis of a Panel

In [105]:
for key in pnl.minor_axis:
    print key
    
# In this case, the keys are the "Items" of the Panel

speed
distance
cumulative_distance

## Iterating along the Minor Axis of a Panel

In [65]:
for key in pnl:
    print key

2015-01-01 00:00:00
2015-01-01 01:00:00
2015-01-01 02:00:00
2015-01-01 03:00:00
2015-01-01 04:00:00
2015-01-01 05:00:00
2015-01-01 06:00:00
2015-01-01 07:00:00
2015-01-01 08:00:00
2015-01-01 09:00:00
2015-01-01 10:00:00
2015-01-01 11:00:00
2015-01-01 12:00:00
2015-01-01 13:00:00
2015-01-01 14:00:00
2015-01-01 15:00:00
2015-01-01 16:00:00
2015-01-01 17:00:00
2015-01-01 18:00:00
2015-01-01 19:00:00
2015-01-01 20:00:00
2015-01-01 21:00:00
2015-01-01 22:00:00
2015-01-01 23:00:00
2015-01-02 00:00:00

### `minor_xs` is a slice of the panel along the minor_axis
Result (the slice) is a data frame

In [104]:
for key in pnl.minor_axis[0:1]:
    print key # each "panel item" is the key in this case
    print "--"
    print pnl.minor_xs(key)

speed
--
                     2015-01-01 00:00:00  2015-01-01 01:00:00  \
speed                                NaN                  NaN
distance                             NaN                  NaN
cumulative_distance                  NaN                  NaN

                     2015-01-01 02:00:00  2015-01-01 03:00:00  \
speed                                NaN            52.682292
distance                             NaN            13.170573
cumulative_distance                  NaN          -230.072917

                     2015-01-01 04:00:00  2015-01-01 05:00:00  \
speed                          73.098958             6.562500
distance                       18.274740             1.640625
cumulative_distance          -283.220052           -66.726562

                     2015-01-01 06:00:00  2015-01-01 07:00:00  \
speed                          14.890625            14.604167
distance                        3.722656             3.651042
cumulative_distance            49.746094            60.755208

                     2015-01-01 08:00:00  2015-01-01 09:00:00  \
speed                          69.604167            83.604167
distance                       17.401042            20.901042
cumulative_distance           240.463542           345.502604

                            ...           2015-01-01 15:00:00  \
speed                       ...                    139.473958
distance                    ...                     34.868490
cumulative_distance         ...                     -4.787760

                     2015-01-01 16:00:00  2015-01-01 17:00:00  \
speed                         118.562500            49.848958
distance                       29.640625            12.462240
cumulative_distance           -88.138021           124.611979

                     2015-01-01 18:00:00  2015-01-01 19:00:00  \
speed                          88.307292           115.854167
distance                       22.076823            28.963542
cumulative_distance          -225.364583           -73.226562

                     2015-01-01 20:00:00  2015-01-01 21:00:00  \
speed                          83.187500           114.265625
distance                       20.796875            28.566406
cumulative_distance           182.218750             6.753906

                     2015-01-01 22:00:00  2015-01-01 23:00:00  \
speed                          75.125000            47.557292
distance                       18.781250            11.889323
cumulative_distance          -211.192708          -109.205729

                     2015-01-02 00:00:00
speed                         100.057292
distance                       25.014323
cumulative_distance          -130.773438

[3 rows x 25 columns]

## Calculating the "matrix norm" of each slice, using `numpy.linalg`

In [124]:
from numpy import linalg as LA
for item in pnl:
    print  item, LA.norm(pnl[item])

2015-01-01 00:00:00 nan
2015-01-01 01:00:00 nan
2015-01-01 02:00:00 nan
2015-01-01 03:00:00 1933.51830223
2015-01-01 04:00:00 1287.22819378
2015-01-01 05:00:00 991.786188459
2015-01-01 06:00:00 947.002647058
2015-01-01 07:00:00 1139.10367604
2015-01-01 08:00:00 1480.18230668
2015-01-01 09:00:00 2258.05722107
2015-01-01 10:00:00 2167.36515239
2015-01-01 11:00:00 2412.91595724
2015-01-01 12:00:00 2017.7045238
2015-01-01 13:00:00 2084.75898341
2015-01-01 14:00:00 1820.14354708
2015-01-01 15:00:00 1775.31470868
2015-01-01 16:00:00 1673.61326518
2015-01-01 17:00:00 1966.9619729
2015-01-01 18:00:00 1736.70668051
2015-01-01 19:00:00 1372.97375962
2015-01-01 20:00:00 1523.68414647
2015-01-01 21:00:00 1591.48938121
2015-01-01 22:00:00 1390.15285605
2015-01-01 23:00:00 1107.07888236
2015-01-02 00:00:00 816.498549452

### Everything in one line!
Thanks to the power of chaining in Pandas, we can start from an hourly time series dataframe with multiple variables, take a rolling window of a certain size (4), compute the covariance matrix at each timestamp and calculate the norm of each of those matrices.

In [108]:
df1.rolling(window=4, min_periods=4).cov().apply(lambda x: LA.norm(x)).transpose()

                          speed   distance  cumulative_distance
2015-01-01 00:00:00         NaN        NaN                  NaN
2015-01-01 01:00:00         NaN        NaN                  NaN
2015-01-01 02:00:00         NaN        NaN                  NaN
2015-01-01 03:00:00  236.394659  59.098665          1918.102692
2015-01-01 04:00:00  293.071701  73.267925          1251.278231
2015-01-01 05:00:00   67.068563  16.767141           989.373799
2015-01-01 06:00:00   52.060184  13.015046           945.481020
2015-01-01 07:00:00   62.592389  15.648097          1137.275039
2015-01-01 08:00:00  250.938740  62.734685          1457.406522
2015-01-01 09:00:00  356.087854  89.021963          2228.025795
2015-01-01 10:00:00  152.068359  38.017090          2161.689529
2015-01-01 11:00:00   88.455435  22.113859          2411.192657
2015-01-01 12:00:00  294.292393  73.573098          1994.770797
2015-01-01 13:00:00  267.042299  66.760575          2066.507066
2015-01-01 14:00:00  191.344512  47.836128          1809.425742
2015-01-01 15:00:00  143.846165  35.961541          1769.112027
2015-01-01 16:00:00  150.678279  37.669570          1666.390837
2015-01-01 17:00:00  134.790101  33.697525          1962.048804
2015-01-01 18:00:00  243.052997  60.763249          1718.540998
2015-01-01 19:00:00  140.082847  35.020712          1365.359766
2015-01-01 20:00:00  201.386055  50.346514          1509.477480
2015-01-01 21:00:00  117.975794  29.493948          1586.836560
2015-01-01 22:00:00  224.941906  56.235476          1370.680004
2015-01-01 23:00:00  119.703564  29.925891          1100.181417
2015-01-02 00:00:00  166.549902  41.637476           798.246411

In [129]:
for i in df1.rolling(window=4, min_periods=4).cov():
    print i

2015-01-01 00:00:00
2015-01-01 01:00:00
2015-01-01 02:00:00
2015-01-01 03:00:00
2015-01-01 04:00:00
2015-01-01 05:00:00
2015-01-01 06:00:00
2015-01-01 07:00:00
2015-01-01 08:00:00
2015-01-01 09:00:00
2015-01-01 10:00:00
2015-01-01 11:00:00
2015-01-01 12:00:00
2015-01-01 13:00:00
2015-01-01 14:00:00
2015-01-01 15:00:00
2015-01-01 16:00:00
2015-01-01 17:00:00
2015-01-01 18:00:00
2015-01-01 19:00:00
2015-01-01 20:00:00
2015-01-01 21:00:00
2015-01-01 22:00:00
2015-01-01 23:00:00
2015-01-02 00:00:00