# 3.3 

### Day 3

# Loading and Viewing Data

<img src = "images/logo.jpg" width="100" align="left">

Ram Narasimhan

# <div class="alert alert-block alert-success"> 4 commands to start with...    </div>

### I almost always use these...

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

# import numpy as np
# import matplotlib.pyplot as plt
# import pandas as pd
# %matplotlib inline

# The first thing do to: READ the data

## pd.read_csv()

In [ ]:
help(pd.read_csv)

In [ ]:
df = pd.read_csv("data/Crude Oil Data/CrudeOilProduction.csv")

In [4]:
type(df)

pandas.core.frame.DataFrame

# <div class="alert alert-block alert-warning">  use `df.shape`  to see the number of rows and columns. </div>

In [9]:
df.shape

     Country Indicator Subject Units Frequency  Time  Quantity Flag Codes
7947     ZWE   OILPROD     TOT  KTOE         A  2011       0.0        NaN
7948     ZWE   OILPROD     TOT  KTOE         A  2012       0.0        NaN
7949     ZWE   OILPROD     TOT  KTOE         A  2013       0.0        NaN
7950     ZWE   OILPROD     TOT  KTOE         A  2014       0.0        NaN
7951     ZWE   OILPROD     TOT  KTOE         A  2015       0.0        NaN

# <div class="alert alert-block alert-warning">  use `columns()` method to see the NAMES of all the columns </div>

In [14]:
df.columns

Index(['Country', 'Indicator', 'Subject', 'Units', 'Frequency', 'Time',
       'Quantity', 'Flag Codes'],
      dtype='object')

In [15]:
df.dtypes

Country        object
Indicator      object
Subject        object
Units          object
Frequency      object
Time            int64
Quantity      float64
Flag Codes     object
dtype: object

# <div class="alert alert-block alert-warning"> `head()` and `tail()`
</div>

In [16]:
df.tail(3)

     Country Indicator Subject Units Frequency  Time  Quantity Flag Codes
7949     ZWE   OILPROD     TOT  KTOE         A  2013       0.0        NaN
7950     ZWE   OILPROD     TOT  KTOE         A  2014       0.0        NaN
7951     ZWE   OILPROD     TOT  KTOE         A  2015       0.0        NaN

# <div class="alert alert-block alert-warning"> `pd.describe(df)` </div>

In [17]:
df.describe()

              Time      Quantity
count  7952.000000  5.839000e+03
mean   1987.500000  6.829572e+04
std      16.164246  3.280083e+05
min    1960.000000  0.000000e+00
25%    1973.750000  0.000000e+00
50%    1987.500000  6.644110e+02
75%    2001.250000  1.501982e+04
max    2015.000000  3.965613e+06

# <div class="alert alert-block alert-warning"> View one column </div>

In [28]:
colname = 'Quantity'
cols = ['Time', 'Quantity', 'Country']
df[cols]

      Time   Quantity Country
0     1960        NaN     AUS
1     1961        NaN     AUS
2     1962        NaN     AUS
3     1963        NaN     AUS
4     1964        NaN     AUS
5     1965        NaN     AUS
6     1966        NaN     AUS
7     1967        NaN     AUS
8     1968        NaN     AUS
9     1969        NaN     AUS
10    1970        NaN     AUS
11    1971  14226.194     AUS
12    1972  15029.094     AUS
13    1973  18720.577     AUS
14    1974  18498.696     AUS
15    1975  19736.070     AUS
16    1976  20177.769     AUS
17    1977  21259.310     AUS
18    1978  20694.803     AUS
19    1979  20828.964     AUS
20    1980  19471.877     AUS
21    1981  19007.475     AUS
22    1982  18706.129     AUS
23    1983  18220.054     AUS
24    1984  22148.899     AUS
25    1985  25468.860     AUS
26    1986  26561.559     AUS
27    1987  26399.764     AUS
28    1988  26322.923     AUS
29    1989  23679.705     AUS
...    ...        ...     ...
7922  1986      0.000     ZWE
7923  1987      0.000     ZWE
7924  1988      0.000     ZWE
7925  1989      0.000     ZWE
7926  1990      0.000     ZWE
7927  1991      0.000     ZWE
7928  1992      0.000     ZWE
7929  1993      0.000     ZWE
7930  1994      0.000     ZWE
7931  1995      0.000     ZWE
7932  1996      0.000     ZWE
7933  1997      0.000     ZWE
7934  1998      0.000     ZWE
7935  1999      0.000     ZWE
7936  2000      0.000     ZWE
7937  2001      0.000     ZWE
7938  2002      0.000     ZWE
7939  2003      0.000     ZWE
7940  2004      0.000     ZWE
7941  2005      0.000     ZWE
7942  2006      0.000     ZWE
7943  2007      0.000     ZWE
7944  2008      0.000     ZWE
7945  2009      0.000     ZWE
7946  2010      0.000     ZWE
7947  2011      0.000     ZWE
7948  2012      0.000     ZWE
7949  2013      0.000     ZWE
7950  2014      0.000     ZWE
7951  2015      0.000     ZWE

[7952 rows x 3 columns]

# <div class="alert alert-block alert-warning"> View just a few columns </div>

### You can select a LIST of Variables

In [ ]:
type(df['Time'])

In [ ]:
df['Frequency', 'Units'] # What is wrong?

In python, if you want to combine more than one object, you have put them in some type of "Container."
Very common containers are Lists and Tuples.
Putting something into a list is as easy as putting that within square brackets.
```
x = 'Frequency', 'Units' # is not a valid python statement
x = ['Frequency', 'Units'] # is a valid python container [List]
```

In [ ]:
columns_of_interest = ['Frequency', 'Units']
df[columns_of_interest] # Notice the difference

# <div class="alert alert-block alert-warning"> Hopefully, Pandas is starting to become easier.  </div>

### Once you start to feel comfortable, `Pandas` can be incredibly useful for you work. When you have a spreadsheet of data, think `Pandas`

![Questions](images/questions.png)