`[] {} " " ' ' ( ) #`
### Day 4 Group Coding Exercise

# Predicting OilField Output - Using Linear Regression

<img src = "images/logo.jpg" width="100" align="left">

Ram Narasimhan

Source: http://www.ijastnet.com/journals/Vol_1_No4_July_2011/14.pdf

<img src = "images/oilwell_decline.jpg" align="center">

<img src = "images/oilfield_lifestages.jpg" align="center">

# <div class="alert alert-block alert-success"> Question for the class:    </div>

## How can we predict Output of an Oil`Field`?

# <div class="alert alert-block alert-success"> Group Coding Exercises    </div>

## 0. Read the file containing annual_oilfield_output
        (This is easy. So I'll do it)
        
# Task for Person #1
### P1_1. Plot the data (code is included)
### P1_2. Split the data into `train` and `test`. (Test should have 6 years)

## Task for Person 2
## P2_3. Build a Model for the `training` data. (Linear Regression)
## P2_4. What is the Linear equation that describes the `OilProduction`?

### Task for Person 3
## P3_5. Make Predictions for `test` data
## P3_6. What is the RMSE for the `test` data?
## P3_7. Plot the Predictions for `training` against `actuals.`

# <div class="alert alert-block alert-success"> If you get done with these, then please assist your classmates    </div>

In [8]:
import pandas as pd
import matplotlib.pyplot as plt

# this allows plots to appear directly in the notebook
%matplotlib inline

In [17]:
# read data into a DataFrame: 'data/Linear Regr
df = pd.read_csv('data/Linear Regression_China_Oilfield_Production/china_oilfield_annual.csv')
df

,year,x1,x2,x3,x4,x5,x6,x7,x8,y
0,1983,689,612,311,2375900,41.80%,1.45%,9.07%,1421900,1442800
1,1984,855,720,351,2305000,42.33%,1.53%,9.54%,1442800,1417200
2,1985,1028,874,426,2765900,42.93%,1.60%,9.49%,1417200,1466100
3,1986,1268,1087,472,3306400,46.21%,1.55%,10.25%,1466100,1454500
4,1987,1446,1197,652,3981400,45.80%,1.49%,9.35%,1454500,1489400
5,1988,1705,1417,486,4551000,47.80%,1.43%,9.08%,1489400,1559200
6,1989,1892,1524,458,5269100,49.30%,1.31%,9.31%,1559200,1652300
7,1990,2113,1761,473,6020400,52.15%,1.37%,10.13%,1652300,2024600
8,1991,2372,1903,506,7406200,55.46%,1.26%,10.88%,2024600,2175900
9,1992,2640,2123,705,8676500,59.83%,1.18%,11.54%,2175900,2606400
10,1993,3090,2574,689,9879800,60.87%,1.11%,12.07%,2606400,3025300
11,1994,3603,2826,964,11108700,63.39%,1.11%,12.96%,3025300,3493100
12,1995,3987,2878,1073,11832700,63.12%,1.20%,13.57%,3493100,3725800
13,1996,4530,3002,1003,13091800,64.79%,1.20%,14.76%,3725800,4037600
14,1997,4872,3172,1044,14063100,67.45%,1.07%,14.59%,4037600,4200500
15,1998,5110,3260,854,15760600,68.89%,1.01%,14.88%,4200500,4398200
16,1999,5400,3375,686,16760300,70.12%,0.95%,15.40%,4398200,4649700
17,2000,5524,3497,758,16519000,71.88%,0.88%,15.82%,4649700,4712500
18,2001,5653,3704,891,18083400,71.88%,0.91%,16.46%,4712500,5205000
19,2002,6958,5523,1043,19267300,72.95%,0.83%,17.22%,5205000,6115500
20,2003,8680,7805,1181,19580500,72.83%,0.83%,17.74%,6115500,7158700
21,2004,9864,8263,1319,25365000,72.28%,0.89%,17.71%,7158700,8109500
22,2005,11805,9522,1946,30032000,72.01%,0.84%,16.98%,8109500,9051000
23,2006,12314,11092,2347,32987000,72.31%,0.85%,17.20%,9051000,9623000

# New Concept. Pay Attention.
**Set Index**

Explanation: By default, Pandas gives integers (0, 1, 2, 3, ...) as the `index` (row labels).
However, we can take any column and make it the INDEX.

In this case, we will take the `YEAR` column and make it the `Index`.

In [18]:
#make the year into Index
df = df.set_index('year')

In [19]:
df

         x1     x2    x3        x4      x5     x6      x7       x8        y
year
1983    689    612   311   2375900  41.80%  1.45%   9.07%  1421900  1442800
1984    855    720   351   2305000  42.33%  1.53%   9.54%  1442800  1417200
1985   1028    874   426   2765900  42.93%  1.60%   9.49%  1417200  1466100
1986   1268   1087   472   3306400  46.21%  1.55%  10.25%  1466100  1454500
1987   1446   1197   652   3981400  45.80%  1.49%   9.35%  1454500  1489400
1988   1705   1417   486   4551000  47.80%  1.43%   9.08%  1489400  1559200
1989   1892   1524   458   5269100  49.30%  1.31%   9.31%  1559200  1652300
1990   2113   1761   473   6020400  52.15%  1.37%  10.13%  1652300  2024600
1991   2372   1903   506   7406200  55.46%  1.26%  10.88%  2024600  2175900
1992   2640   2123   705   8676500  59.83%  1.18%  11.54%  2175900  2606400
1993   3090   2574   689   9879800  60.87%  1.11%  12.07%  2606400  3025300
1994   3603   2826   964  11108700  63.39%  1.11%  12.96%  3025300  3493100
1995   3987   2878  1073  11832700  63.12%  1.20%  13.57%  3493100  3725800
1996   4530   3002  1003  13091800  64.79%  1.20%  14.76%  3725800  4037600
1997   4872   3172  1044  14063100  67.45%  1.07%  14.59%  4037600  4200500
1998   5110   3260   854  15760600  68.89%  1.01%  14.88%  4200500  4398200
1999   5400   3375   686  16760300  70.12%  0.95%  15.40%  4398200  4649700
2000   5524   3497   758  16519000  71.88%  0.88%  15.82%  4649700  4712500
2001   5653   3704   891  18083400  71.88%  0.91%  16.46%  4712500  5205000
2002   6958   5523  1043  19267300  72.95%  0.83%  17.22%  5205000  6115500
2003   8680   7805  1181  19580500  72.83%  0.83%  17.74%  6115500  7158700
2004   9864   8263  1319  25365000  72.28%  0.89%  17.71%  7158700  8109500
2005  11805   9522  1946  30032000  72.01%  0.84%  16.98%  8109500  9051000
2006  12314  11092  2347  32987000  72.31%  0.85%  17.20%  9051000  9623000

There are some % signs. These need to be replaced.

In [20]:
# if you want to operate on multiple columns, put them in a list like so:
cols = ['x5', 'x6', 'x7']

# pass them to df.replace(), specifying each char and it's replacement:
df[cols] = df[cols].replace({'\$': '', ',': '', '\%' : ''}, regex=True).astype(float)

# Another way to do it:
# df['x5'] = df['x5'].str.replace('\%', '')

In [27]:
df
#Person 1's tasks
# describe the data frame
name = 'x3'
df[name]

year
1983     311
1984     351
1985     426
1986     472
1987     652
1988     486
1989     458
1990     473
1991     506
1992     705
1993     689
1994     964
1995    1073
1996    1003
1997    1044
1998     854
1999     686
2000     758
2001     891
2002    1043
2003    1181
2004    1319
2005    1946
2006    2347
Name: x3, dtype: int64

# Let's plot it and see what it looks 

(You should always try plotting your data to get a feel for it)

In [ ]:
#Person 1
# Write code here to Plot the Column called 'y' ('y' is our target variable)

In [ ]:
#Hint 1: You can plot all columns with df.plot(figsize=(15,5))

In [ ]:
#Hint 2: Try this and understand what is happening df.plot(subplots=True, figsize=(15,15))

## Person 1. 1_2
# Split the dataframe into `train` and `test`

#call the 2 new dataframes as `train_df` and `test_df`

In [ ]:
# If df.index <= 2000 it goes to train_df, else, it goes to test_df
#Hint: Use Conditions (boolean mask)

In [ ]:
# this is the standard import if you're using "formula notation" (similar to R)
# import the module to use for Linear Regression

# create a fitted model in one line
#china_mdl = smf.ols(formula=<you enter the data>, data=train_df).fit()

# print the coefficients

In [ ]:
#print the model summary

### Use the Model to make predictions

Statsmodel can be used to make predictions.

**Note** It expects the inputs to come as a data frame with *exactly* the same columns.
In this exercise, you will take the data frame called `test` and make predictions for those rows.

### Task for Person 3
## P3_5. Make Predictions for `test` data
## P3_6. What is the RMSE for the `test` data?

In [ ]:
#Use the .predict() method and make predictions for both train_df and test_df

### Plotting the Least Squares Line

Let's make predictions for the smallest and largest observed values of x, and then use the predicted values to plot the least squares line:

In [ ]:
# make predictions for those x values and store them
#train_preds = ...
#test_preds = ...

### Task for Person 3

## P3_7. Plot the Predictions for `training` against `actuals.`

In [ ]:
#Plot 'y' vs time (index) for the entire df
#Plot 'y' vs time (index) for the train_df
#Plot 'y' vs time (index) for the test_df

`[] {} " " ' ' ( ) #`
![Questions](images/questions.png)

`[] {} " " ' ' ( ) #`